@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

/***************Root***************/

:root {
	--blanc: #DAD8D9;
	--bleu: #091C3A;
	--bouton: #DAD8D91A;
	--text-sb: #7B7684;
	--border-1-sb: #39353D;
	--border-2-sb: #1ac0a2;
	--noir: #000000;
}

/***************Scroll bar***************/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 5px 0px 0px 0px var(--bleu);
    background-color: transparent;
}

/***************Body***************/

body {
    margin: 0;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: overlay;
}

/***************Header***************/

header {
    height: 10vh;
    padding: 0 60px;
    background-color: var(--bleu);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/***************Bouton MENU***************/

.bouton-menu {
	height: 70px;
	width: 80px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    border-style: none;
    transition: all 0.35s ease;
}

.bouton-menu:hover {
    background-color: var(--bouton);
}

/***************Conteneur Hamburger***************/

.hamburger {
    width: 40px;
    height: 40px;
    position: relative;
}

/***************Barres du Hamburger***************/

.hamburger span {
    height: 4px;
    width: 40px;
    position: absolute;
    display: block;
    background-color: var(--blanc);
    border-radius: 4px;
    transition: all 0.35s ease-in-out;
}

/***************Position des barres dans le conteneur***************/

.barre-2, .barre-3 {
    top: 18px;
}

.barre-4 {
    bottom: 0;
}

/***************Animation de la barre du haut (rotation vers le bas)***************/

.menu-visible .bouton-menu .hamburger .barre-1 {
    width: 56px;
    transform: rotate(45deg);
    transform-origin: 5%;
}

/***************Animation de la barre du milieu (translation vers la gauche)***************/

.menu-visible .bouton-menu .hamburger .barre-2 {
    transform: translateX(-20px);
    background-color: transparent;
}

/***************Animation de la barre du milieu (translation vers la droite)***************/

.menu-visible .bouton-menu .hamburger .barre-3 {
    transform: translateX(20px);
    background-color: transparent;
}

/***************Animation de la barre du bas (rotation vers le haut)***************/

.menu-visible .bouton-menu .hamburger .barre-4 {
    width: 56px;
    transform-origin: 5%;
    transform: rotate(-45deg);
}

/***************La search bar***************/

.search-bar {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 4rem;
}

/***************Les deux textes***************/

::placeholder, .label {
    position: absolute;
    top: 50%;
    color: var(--text-sb);
    pointer-events: none;
    transition: all 0.35s ease;
}

/***************Le placeholder***************/

::placeholder {
    left: 0;
    transform: translate(0, -50%);
}

/***************Le label à droite***************/

.label {
    right: 0;
    transform: translate(3rem, 50%);
    width: 6rem;
    font-size: 0.75rem;
    text-align: right;
    opacity: 0;
    transition: all 0.35s;
}

/***************L'input de la search bar***************/

.search-bar input {
    height: inherit;
    width: 13rem;
    padding-right: 3.5rem;
    border: 0;
    border-bottom: 2px solid var(--border-1-sb);
    outline: none;
    background: transparent;
    color: var(--blanc);
    font-size: 1rem;
    transition: all 0.35s;
}

/***************Quand on est dans l'input de la search bar***************/

.search-bar input:focus {
    border-bottom-color: var(--border-2-sb);
}

/***************Animation du placeholder quand on focus***************/

.search-bar input:focus::placeholder {
    opacity: 0;
    transform: translate(-3rem, -50%);
}

/***************Animation du label quand on focus***************/

.search-bar input:focus ~ .label {
    opacity: 1;
    transform: translate(0, -50%);
}

/***************Main***************/

main {
    height: 200vh;
    background-color: var(--blanc);
    padding: 100px 200px 100px 200px;
    display: grid;
    grid-template-areas: "1 2"
                         "3 4"
                         "5 6"
                         "7 8";
    grid-auto-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    transition: all ease 1s;
}

.dark-back main {
    color: var(--blanc);
    background-color: var(--noir);
}

/***************Setup de la grid***************/

article {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--noir);
}
article:nth-of-type(odd) {
    border-right: 2px dashed var(--noir);
}
article:nth-of-type(even) {
    border-left: 0;
}

/***************Setup de chaque case***************/

article div {
    height: 70%;
    width: 70%;
    padding-top: 100px;
    text-align: center;
    font-size: 150%;
	border-radius: 10px;
}

article img {
    height: 70%;
    width: 70%;
	border-radius: 10px;
}

.conteneur-1 {
    grid-area: 1;
    background-color: #c01d1d;
}

.conteneur-2 {
    grid-area: 2;
}

.conteneur-3 {
    grid-area: 3;
}

.conteneur-4 {
    grid-area: 4;
    background-color: #5c4ce9;
}

.conteneur-5 {
    grid-area: 5;
    background-color: #c628d4;
}

.conteneur-6 {
    grid-area: 6;
}
.conteneur-7 {
    grid-area: 7;
}

.conteneur-8 {
    grid-area: 8;
    background-color: #4c9c16;
}

/***************Animation des photos***************/

.slide {
    opacity: 0;
    transition: transform 2s 0.4s cubic-bezier(0, 1, .3, 1), opacity 3s;
}
.slide.left {
    transform: translateX(-50vw);
}
.slide.right {
    transform: translateX(50vw);
}
.slide.is-visible {
    opacity: 1;
    transform: translateX(0);
}

/***************Footer***************/

footer {
    height: 6vh;
    background-color: var(--bleu);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--blanc);
    font-size: 150%;
    letter-spacing: 2px;
}

/***************Menu***************/

.menu {
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(36, 41, 67, 0.9);
    transition: transform 0.35s ease, opacity 0.35s ease, visibility 0.35s;
}

.menu ul {
    min-width: 22vw;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

.menu li a {
    display: block;
    color: var(--blanc);
    font-size: 3vh;
    font-weight: bold;
    line-height: 4em;
    text-decoration: none;
}

.menu li + li {
    border-top: 1px solid rgba(218, 216, 217, 0.5);
}

/***************Quand menu visible***************/

.menu-visible {
    overflow-y: hidden;
}

.menu-visible .menu {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(0.5em);
}