@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #948f94;
    font-family: 'Noto Sans Display', sans-serif;
    user-select: none;
}

input {
    position: absolute;
    transform: scale(0);
}

input:checked ~ label {
    background-color: red;
}