@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #948f94;
    font-family: 'Noto Sans Display', sans-serif;
    user-select: none;
}

input {
    position: absolute;
    transform: scale(0);
}

.button {
    position: relative;
}

.menu ul {
    font-size: 200%;
    transform: translateX(-100%);
}

#icon {
    display: block;
    height: 100px;
    width: 100px;
    background-color: #5a5151;
    border-radius: 50%;
    margin: 10px 0 0 10px;
}

label {
    top: 11%;
    left: 14%;
}

#hamburger {
    height: 80px;
    width: 70px;
    position: absolute;
}

input:checked ~ .menu ul {
    transform: translateX(0);
}