/***************Main***************/

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	font-size: 1.3em;
}

main section + section p {
	text-indent: 10px;
	text-align: justify;
}

main section + section {
	padding: 4vh 0;
}

/***************Titre***************/

#section1 {
	width: 100%;
}

#section1 > div {
	margin: calc(var(--header) + 15vh) 0 15vh;
	display : flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color:hsl(229, 100%, 97%);
	width: 100%;
	scroll-margin-top: calc(var(--header) + 15vh);
}

#section1 h3 {
	margin: 0 5vw 0 0;
	font-size:5em;
	font-weight: normal;
	text-align:center;
}

#section1 h3:last-child {
	margin: 0 0 0 5vw;
}

#section1 h2 {
	color : hsl(0, 0%, 50%);
	font-size: 1em;
}

#section1 h1 {
	text-align: center;
}

#section1 h1+h2 {
	text-align: right;
}

/***************Cercle de matière***************/

#section4 {
	--largeur : 7em;
	width: 100%;
	height: max(100vh, 10%);
	background-color:hsl(229, 100%, 97%);
	box-sizing: border-box;
	padding: 6vh 10vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#section4 .wrapper{
	--largeur : 7em;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	gap: 20px;
}

#section4 article {
	width: min(70ch,90%)
}

.conteneur {
	height: 20em;
	aspect-ratio: 1/1;
	position: relative;
	margin: calc(var(--largeur) / 2);
	right: calc(var(--largeur) / 2);
	bottom: calc(var(--largeur) / 2);
}

.conteneur .matiere {
	display: flex;
	text-align: center;
	align-items: center;
	width: var(--largeur);
	height: var(--largeur);
	box-shadow: hsla(240, 30%, 28%, 0.25) 0px 30px 60px -12px,
				hsla(0, 0%, 0%, 0.3) 0px 18px 36px -18px;
	position: absolute;
	border-top: 10px solid var(--rouge-op);
	background-color: white;
	border-radius: 5px;
	transition: all .35s ease;
}

.conteneur .matiere:hover {
	border-color: var(--rouge);
	transform: scale(1.05);
}

/***************Description***************/

#section2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

#section2 h3 {
	margin: 0;
	font-size: 1.4em;
}

#section2 h4 {
	font-size: 1.15em;
	text-align: center;
}

#section2 hr {
	background-color: hsl(347, 84%, 50%) ;
	border: 0;
	height: 5px;
	width: 80px;
	border-radius: 5px;
	margin-block-end: 2em;
}

#section2 img {
	width: min(50em,80%);
	box-shadow: hsla(240, 30%, 28%, 0.25) 0px 30px 60px -12px,
				hsla(0, 0%, 0%, 0.3) 0px 18px 36px -18px;
	border-radius: 20px;
}

#section2 div {
	padding: 0 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 5%;
}

#section2 article {
	width: max(35%, 30ch);
}

/***************Caroussel***************/

.caroussel {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

/***************Carte***************/

.card {
	color: var(--blanc);
	transform: scale(0.7);
	padding: 10rem 0 0;
	max-width: 37ch;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: all .5s ease;
	box-shadow: hsla(240, 30%, 28%, 0.25) 0px 30px 60px -12px,
				hsla(0, 0%, 0%, 0.3) 0px 18px 36px -18px;
}

#section3 .caroussel .card:nth-child(1) {
	background: url(/Images/maquette.jpg) no-repeat 25%;
	background-size: cover;
}
#section3 .caroussel .card:nth-child(2) {
	background: url(/Images/dev_logiciel.jpg);
	background-size: cover;
}
#section3 .caroussel .card:nth-child(3) {
	background: url(/Images/polyvalence.jpg);
	background-size: cover;
}
#section3 .caroussel .card:nth-child(4) {
	background: url(/Images/administration.jpg);
	background-size: cover;
}

.card:hover {
	transform: scale(.8);
}

/***************Contenu des cartes***************/

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	--padding: 3.5rem;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

	padding: var(--padding);
	background: linear-gradient(
		hsla(0, 0%, 0%, 0) 0%,
		hsl(20, 0%, 0%, .3) 20%,
		hsl(0, 0%, 0%, 1) 100%
	);
	transform: translateY(65%);
	transition: all .5s ease;
	height: 17em;
}

.card:hover .card-content {
	transform: translateY(0);
	transition-delay: .5s;
}

.card-content > *:not(.card-title) {
	opacity: 0;
	transition: all .5s ease;
}

.card:hover .card-content > *:not(.card-title) {
	opacity: 1;
	transition-delay: .5s;
}

/***************Titre des cartes***************/

.card-title {
	position: relative;
	width: max-content;
}

.card-title::after {
	content: "";
	position: absolute;
	height: 4px;
	left: calc(var(--padding) * -1);
	top: 100%;
	width: calc(100% + var(--padding));
	background: var(--rouge);
	transform: scaleX(0);
	transform-origin: left;
	transition: all .5s ease;
}

.card:hover .card-title::after {
	transform: scaleX(1);
}

.card-body {
	color: hsl(0, 0%, 100%);
}

/***************Bouton des cartes***************/

.button {
	cursor: pointer;
	display: inline;
	text-decoration: none;
	color: var(--noir);
	background-color: var(--rouge);
	padding: 0.5em 1.25em;
	border-radius: 0.25em;
}

.button:hover,
.button:focus {
	background-color: var(--blanc);
}

/***************Media queries***************/

@media (orientation : portrait), (max-width: 1050px) {
	#section1 > div {
		margin: calc(var(--header) + 10vh) 0 10vh;
	}
	
	main section + section {
		padding: 3vh 0;
	}

	#section4 .wrapper{
		flex-direction: column;
	}

	#section4 .conteneur{
		width: min(20em,80%);
		height: min(20em,80%);
	}
}