html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body header-custom {
	position: static;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15%;
}

h1 {
	margin: 1em 0;
}

h2 {
	white-space: nowrap;
	margin: 0;
}

.values {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.values img {
	width: 25%;
}