/***************Main***************/

main {
	padding: calc(var(--header) + 15vh) 10vw 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20vh;
	background: linear-gradient(to right, var(--blanc) 80%, hsl(247, 9%, 81%) 80%);
	font-size: 1.3em;
}

main p{
	text-indent: 40px;
	text-align: justify;
}
/***************Titre***************/

#section1 {
	position: relative;
	scroll-margin-top: calc(var(--header) + 15vh);
}

#section1 h1 {
	text-align: center;
	letter-spacing: 3px;
	font-size: 2.25em;
}

#section1 h2 {
	color : hsl(0, 0%, 50%);
	font-size: 1em;
}

#section1 h1 + h2 {
	text-align: right;
}

/***************Contenu***************/

#section2 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 6vw;
}

.image {
	width: min(100%,60ch);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#section2 hr {
	background-color: hsl(347, 84%, 50%) ;
	border: 0;
	height: 5px;
	width: 100px;
	border-radius: 5px;
	margin-block-end: 2em;
}

section + section h2{
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 50px;
}

/***************Presentation***************/

.mozaique {
	height: 100%;
	width: 100%;
	min-width: 350px;
	max-width: 500px;
	display: grid;
	grid-template-areas: "image1 image2"
						 "image1 image3";
	place-items: center;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 1fr 1fr;
	gap: 10%;
}

.mozaique img {
	border-radius: 20px;
	box-shadow: hsla(240, 30%, 28%, 0.25) 0px 30px 60px -12px,
				hsla(0, 0%, 0%, 0.3) 0px 18px 36px -18px;
}

.mozaique img:nth-child(1) {
	grid-area: image1;
	width: 100%;
	display: flex;
	align-self: center;
}

.mozaique img:nth-child(2) {
	grid-area: image2;
	width: 100%;
}

.mozaique img:nth-child(3) {
	grid-area: image3;
	width: 70%;
}

/***************Sports***************/

.sport{
	display: flex;
	align-items: center;
	gap : 30px;
	width: 100%;
	justify-content: center;
}

.sport article{
	width: min(100%,70ch);
}

.sport img{
	width: min(20em, 80%);
	border-radius: 10px;
	box-shadow: hsla(240, 30%, 28%, 0.25) 0px 30px 60px -12px,
				hsla(0, 0%, 0%, 0.3) 0px 18px 36px -18px;
}


/***************Equipement***************/

.technologie{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.technologie p{
	text-align: center;
	text-indent: 0;
}

.technologie img{
	width: min(25em, 80%);
	border-radius: 20px;
	box-shadow: hsla(240, 30%, 28%, 0.25) 0px 30px 60px -12px,
				hsla(0, 0%, 0%, 0.3) 0px 18px 36px -18px;
}
.technologie ul{
	column-count: 2;
	gap: 10%;
}

/***************A proximite***************/

.desc {
	width: min(100%,70ch);
}

.maps {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5vw;
}

.carte{
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.carte div{
	display: flex;
	justify-content: space-around;
	position: relative;
}
.carte img{
	width: 90%;
}

.carte div a {
	padding: 5px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:50%;
	transition: all .2s ease;
}

.carte div a:hover::after{
	opacity: 100%;
}

.carte div a::after{
	content: attr(data-desc);
	opacity: 0%;
	text-align: center;
	position: absolute;
	width: 20ch;
	font-size: .8em;
	background-color: white;
	padding: 3px 12px;
	border-radius: 10px;
	top: 120%;
	color: var(--noir);
	transition: .2s;
}

.carte div a:hover {
	background-color: white;
	transform: translate(0, 3px);
}

.maps iframe {
	box-shadow: hsla(240, 30%, 28%, 0.25) 0px 30px 60px -12px,
				hsla(0, 0%, 0%, 0.3) 0px 18px 36px -18px;
	width: 25em;
	aspect-ratio: 16/9;
	border: 0;
	border-radius: 5px;
}

/***************Media queries***************/

@media (orientation : portrait), (max-width: 930px) {
	main{
		gap: 10vh;
	}

	.sport{
		flex-direction: column;
	}

	.maps{
		flex-direction: column-reverse;
	}

	.carte div{
		align-items: center;
		margin: 10vh 0;
	}

	.carte div a{
		width: 50px;
		height: 50px;
	}

	.carte div a::after {
		opacity: 120%;
	}

	.carte div a:nth-child(odd)::after {
		top: -120%;
	}

	.carte div a:nth-child(odd):hover {
		transform: translate(0, -3px);
	}
}