/***************footer-custom***************/

footer-custom{
	background: var(--noir);
	position: relative;
	color: var(--blanc);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 30px;
	justify-content: space-around;
}

footer-custom p,
footer-custom h4{
	margin: 0;
}

.categories{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	width: 100%;
}
.categories article:nth-child(1){
	text-align: left;
}
.categories article:nth-child(3){
	text-align: right;
}
.categories{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	width: 100%;
}

.logo{
	position: absolute;
	bottom: 99%;
	left: 20px;
	width: 500px;
}

.reseaux span img{
	filter: invert(1);
	width: 15px;
	margin: 0 3px;
}

.credit{
	color: var(--gris);
	font-size: .7em;
}

.reseaux{
	display: flex;
	width: 10em;
	justify-content: space-evenly;
	margin: 7px 0;
}

.reseaux span{
	padding: 5px;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:50%;
	transition: 0.2s;
}

.reseaux span:hover{
	background-color: var(--noir);
	filter: invert(1)
}