/***************Footer***************/

footer-custom {
    min-height: var(--footer);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanc);
    background-color: var(--noir);
}

footer-custom h6 {
	margin: 0;
	text-align: center;
	font-size: 1em;
	font-weight: normal;
    letter-spacing: 2px;
}