/***************Main***************/

main {
	display: flex;
	flex-direction: column;
	padding: 10vh 10vh 10vh;
	align-items: center;
	background: linear-gradient(to right, var(--blanc) 70%, hsl(247, 9%, 81%) 70%);
}

/***************Titre***************/

.titre {
	position: relative;
}

.titre h1 {
	text-align: center;
	letter-spacing: 3px;
	font-size: 2.25em;
}

.titre h2 {
	color : hsl(0, 0%, 50%);
	font-size: 1em;
}

.titre h1 + h2 {
	text-align: right;
}

/***************Contenu***************/

.contenu {
	display: flex;
	flex-direction: column;
	gap: 12vh;
}

.image {
	margin-top: 12vh;
}

.graph {
	margin-bottom: 12vh;
}

.contenu hr {
	background-color: hsl(347, 84%, 50%) ;
	border: 0;
	height: 5px;
	width: 100px;
	border-radius: 5px;
	margin-block-end: 2em;
}

main article {
	margin: 0;
	display: flex;
	align-items: center;
}

.desc {
	width: 35em;
	letter-spacing: 1px;
}

/***************Mozaique***************/

.mozaique {
	display: grid;
	grid-template-areas: "image1 image2"
						 "image1 image3";
	row-gap: 50px;
}

.mozaique span:nth-child(1) {
	grid-area: image1;
	display: flex;
	align-items: center;
}

.mozaique span:nth-child(2) {
	grid-area: image2;
}

.mozaique span:nth-child(3) {
	grid-area: image3;
}

.mozaique img {
	width: 300px;
	height: 180px;
	border-radius: 20px;
}

.mozaique span:nth-child(1) img {
	transform: rotate(90deg);
}

.mozaique span:nth-child(3) img {
	width: 200px;
	height: 200px;
}

/***************Graphique***************/

.graph {
	gap: 5em;
}

.graph img {
	box-shadow: 10px -10px 0px 1px hsl(347, 84%, 50%);
	width: 500px;
	border-radius: 5px;
}