/***************Header***************/

header-custom {
	min-height: var(--header);
	width: 100%;	
    padding: 0 5%;
	box-sizing: border-box;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--noir);
	z-index: 101;
	transition: background-color .35s ease, padding .35s ease;
}

.menu-open header-custom {
	background-color: transparent;
}

/***************Bouton menu***************/

.wrapper-hb {
	flex: 1 1 50%;
	transition: all .35s ease;
}

.bouton-menu {
	height: 55px;
	width: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border-radius: 50%;
	border-style: none;
	transition: all .35s ease;
}

.bouton-menu:hover {
	background-color: var(--gris-op);
}

/***************Conteneur Hamburger***************/

.hamburger {
	width: 35px;
	height: 35px;
	position: relative;
	transition: inherit;
}

/***************Barres du Hamburger***************/

.hamburger span {
	height: 4px;
	width: 35px;
	position: absolute;
	display: block;
	background-color: var(--blanc);
	border-radius: 4px;
	transition: inherit;
}

/***************Position de la barre du haut***************/

.hamburger .barre-1 {
	top: 7px;
}

/***************Position de la barre du bas***************/

.hamburger .barre-2 {
	top: 25px;
}

/***************Transformation du hamburger en croix quand le menu s'ouvre***************/

.menu-open .hamburger .barre-1,
.menu-open .hamburger .barre-2 {
	height: 3px;
	width: 29px;
	transform-origin: 5%;
}

/***************Augmentation de la taille du hamburger***************/

.menu-open .bouton-menu .hamburger {
	transform: scale(1.5);
}

/***************Animation de la barre du haut (rotation vers le bas)***************/

.menu-open .bouton-menu .hamburger .barre-1 {
	transform: translateX(7px) rotate(45deg);
}

/***************Animation de la barre du bas (rotation vers le haut)***************/

.menu-open .bouton-menu .hamburger .barre-2 {
	transform: translateX(7px) rotate(-45deg);
}

/***************Titre***************/

header-custom h3 {
	margin: 0;
	font-size: 1.5em;
	color: var(--blanc);
	letter-spacing: 2px;
	text-align: center;
	white-space: nowrap;
}

/***************Wrapper loupe + search bar***************/

.wrapper-sb {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex: 1 1 50%;
	transition: all .35s ease;
}

/***************Bouton loupe***************/

.loupe {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: transparent;
	border: 0;
	padding: 0;
}

/***************Image loupe***************/

.loupe img {
	height: 35px;
	width: 35px;
	padding: 10px;
	border-radius: 50%;
	transition: all .35s ease;
}

.loupe img:hover {
	background-color: var(--gris-op);
}