@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

/***************Root***************/

:root {
	--blanc: hsl(330, 3%, 85%);
	--noir: hsl(0, 4%, 5%);
	--bouton: hsla(330, 3%, 85%, 0.2);
	--text-sb: hsl(261, 6%, 49%);
	--border-1-sb: hsl(270, 7%, 22%);
	--header: 8vh;
	--footer: 6vh;
}

/***************Scroll bar***************/

::-webkit-scrollbar {
    width: 0px;
}

/***************Body***************/

body {
    margin: 0;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: overlay;
}

/***************Header***************/

header-custom {
	position: fixed;
	min-height: var(--header);
	width: 100vw;
    padding: 0 60px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--noir);
	z-index: 101;
	transition: all 0.35s ease;
}

.menu-visible header-custom {
	background-color: transparent;
}

/***************Bouton menu***************/

.wrapper-hb {
	flex: 1 1 33%;
	transition: inherit;
}

.bouton-menu {
	height: 55px;
	width: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border-radius: 50%;
	border-style: none;
	transition: inherit;
}

.bouton-menu:hover {
	background-color: var(--bouton);
}

/***************Conteneur Hamburger***************/

.hamburger {
	width: 35px;
	height: 35px;
	position: relative;
	transition: inherit;
}

/***************Barres du Hamburger***************/

.hamburger span {
	height: 4px;
	width: 35px;
	position: absolute;
	display: block;
	background-color: var(--blanc);
	border-radius: 4px;
	transition: inherit;
}

/***************Position de la barre du haut***************/

.hamburger .barre-1 {
top: 7px;
}

/***************Position de la barre du bas***************/

.hamburger .barre-2 {
top: 25px;
}

/***************Transformation du hamburger en croix quand le menu s'ouvre***************/

.menu-visible .hamburger .barre-1,
.menu-visible .hamburger .barre-2 {
	height: 3px;
	width: 29px;
	transform-origin: 5%;
}

/***************Augmentation de la taille du hamburger***************/

.menu-visible .bouton-menu .hamburger {
	transform: scale(1.5);
}

/***************Animation de la barre du haut (rotation vers le bas)***************/

.menu-visible .bouton-menu .hamburger .barre-1 {
	transform: translateX(7px) rotate(45deg);
}

/***************Animation de la barre du bas (rotation vers le haut)***************/

.menu-visible .bouton-menu .hamburger .barre-2 {
	transform: translateX(7px) rotate(-45deg);
}

/***************Titre***************/

header-custom h3 {
	margin: 0;
	font-size: 1.5em;
	color: var(--blanc);
	letter-spacing: 2px;
	text-align: center;
	flex: 1 1 33%;
}

/***************Wrapper loupe + search bar***************/

.wrapper-sb {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex: 1 1 33%;
	overflow: hidden;
	transition: inherit;
}

/***************Checkbox***************/

.wrapper-sb #input {
	position: absolute;
	transform: scale(0);
}

/***************Bouton loupe***************/

.wrapper-sb .loupe {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-left: 20px;
	transition: inherit;
}

/***************Image loupe***************/

.wrapper-sb .loupe img {
	height: 35px;
	width: 35px;
	padding: 10px;
	border-radius: 50%;
	transition: inherit;
}

.wrapper-sb .loupe img:hover {
	background-color: var(--bouton);
}

/***************Quand on clique sur la loupe***************/

.wrapper-sb #input:checked ~ .search-bar {
	opacity: 1;
	visibility: visible;
}

.wrapper-sb #input:checked ~ .loupe,
.wrapper-sb #input:checked ~ .search-bar input {
	transform: translateX(0);
}

.wrapper-sb #input:checked ~ .loupe img {
	background-color: var(--bouton);
}

.wrapper-sb #input:checked ~ .wrapper-sb {
	background-color: var(--bouton);
}

/***************La search bar***************/

.search-bar {
	height: 2.5em;
	opacity: 0;
	visibility: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
    transition: inherit;
}

/***************Les deux textes***************/

::placeholder,
.label {
	position: absolute;
	top: 50%;
	pointer-events: none;
	transition: inherit;
}

/***************Le placeholder***************/

::placeholder {
	left: 0;
	color: var(--text-sb);
	transform: translate(0, -50%);
}

/***************Le label à droite***************/

.label {
	color: var(--blanc);
	width: 6em;
	right: 0;
	opacity: 0;
	font-size: 0.75em;
	text-align: right;
	transform: translate(3em, 50%);
}

/***************L'input de la search bar***************/

.search-bar input {
	height: inherit;
	width: 13em;
	padding-right: 2em;
	border: 0;
	border-bottom: 2px solid var(--border-1-sb);
	outline: none;
	background: transparent;
	color: var(--text-sb);
	font-size: 1em;
	letter-spacing: 1px;
	transform: translateX(200%);
	transition: inherit;
}

.search-bar input::-webkit-calendar-picker-indicator {
	visibility: hidden;
}

/***************Quand on est dans l'input de la search bar***************/

.search-bar input:focus {
	color: var(--blanc);
	border-bottom-color: var(--blanc);
}

/***************Animation du placeholder quand on focus***************/

.search-bar input:focus::placeholder {
	opacity: 0;
	transform: translate(-3em, -50%);
}

/***************Animation du label quand on focus***************/

.search-bar input:focus ~ .label {
	opacity: 1;
	transform: translate(0, -50%);
}