/***************Main***************/

main {
	padding-top: var(--header);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/***************Titre***************/

.titre {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	background-color:hsl(229, 100%, 97%);
	width: 100%;
	margin:20vh 0;
}

.titre h2 {
	color : hsl(0, 0%, 50%);
	font-size: 1em;
	text-align: left;
}

.titre h1 + h2 {
	text-align: right;
}

.titre img {
	transform: rotate(90deg);
	width: 300px;
	border-radius:20px;
	box-shadow: hsla(240, 30%, 28%, 0.25) 0px 30px 60px -12px,
				hsla(0, 0%, 0%, 0.3) 0px 18px 36px -18px;
}

/***************Contenu***************/

.contenu,
.formulaire {
	background-color: hsl(0, 0%, 18%);
	width: 100%;
	display: flex;
	padding: 10vh 0;
	justify-content: center;
	align-items: center;
}

.contenu img {
	height: 100px;
	width: 100px;
}

.contenu article {
	min-height: 80vh;
	width: 30%;
	display: flex;
	flex-direction: column;
	color: hsl(0, 0%, 100%);
	font-size: 20px;
}

.contenu p {
	width: 80%;
}

article.right {
	justify-content: flex-end;
	text-align: right;
	color: hsl(350, 100%, 88%);
}

article.right p {
	align-self: flex-end;
}

.curseur:hover {
	transform: rotate(450deg);
	transition: all 3s ease-in-out;
}

form {
	color: var(--gris);
	background-color: hsl(229, 100%, 97%);
	box-shadow: 10px -10px 10px 1px hsla(0, 0%, 0%, 0.5);
	border-radius: 40px;
	display: flex;
	padding: 40px 80px;
	flex-direction: column;
	width: 400px;
	height: 600px;	
	justify-content: space-evenly;
}

form div {
	display: flex;
	justify-content: space-between;
}

form input,
form textarea {
	padding: 15px;
	border: 0;
	border-radius: 20px;
	color: hsl(0, 0%, 0%);
	font-family: sans-serif;
	resize: none;
}

form input::placeholder,
form textarea::placeholder {
	color: var(--gris);
	overflow: hidden;
	transition: all .2s ease;
}

form input:focus::placeholder,
form textarea:focus::placeholder {
	opacity: 0;
	transform: translateX(-3em);
}

form button {
	border: 0;
	background-color: hsl(0, 0%, 0%);
	color:hsl(0, 0%, 100%);
	padding: 10px 3px ;
	border-radius: 20px;
	cursor: pointer;
}

input[type="date"] {
	padding: 0;
}

input[type=date]::-webkit-datetime-edit {
	padding: 15px;
    color: var(--gris);
	cursor: text;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	padding: 16px;
	background-color: var(--gris-op);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
	cursor: pointer;
}