/***************Main***************/

main {
	padding-top: var(--header);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/***************Titre***************/

.titre {
	display: flex;
	justify-content: center;
	text-align:center;
	background-color:hsl(229, 100%, 97%);
	width: 100%;
	margin:20vh 0;
}

.titre h2 {
	color : grey;
	font-size: 1em;
	text-align: left;
}

.titre h1 + h2 {
	text-align: right;
}

.titre img {
	transform: rotate(90deg);
	width: 300px;
	border-radius:20px;
	box-shadow: hsla(240, 30%, 28%, 0.25) 0px 30px 60px -12px,
				hsla(0, 0%, 0%, 0.3) 0px 18px 36px -18px;
}

/***************Contenu***************/

.contenu {
	background-color: hsl(0, 0%, 18%);
	width: 100%;
	padding: 10vh 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenu img {
	height: 100px;
	width: 100px;
}

.contenu article {
	min-height: 80vh;
	width: 30%;
	display: flex;
	flex-direction: column;
	color: hsl(0, 0%, 100%);
	font-size: 20px;
}

.contenu p {
	width: 80%;
	color: inherit;
}

article.right {
	justify-content: flex-end;
	text-align: right;
	color: hsl(350, 100%, 88%);
}

article.right p {
	align-self: flex-end;
}
