/***************Main***************/

main {
	padding-top: var(--header);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/***************Titre***************/

.titre {
	display: flex;
	justify-content: center;
	text-align:center;
	background-color:hsl(229, 100%, 97%);
	width: 100%;
	margin:20vh 0;
}

.titre h2 {
	color : grey;
	font-size: 1em;
	text-align: left;
}

.titre h1 + h2 {
	text-align: right;
}

.titre img {
	transform: rotate(90deg);
	width: 300px;
	border-radius:20px;
	box-shadow: hsla(240, 30%, 28%, 0.25) 0px 30px 60px -12px,
				hsla(0, 0%, 0%, 0.3) 0px 18px 36px -18px;
}

.contenu,
.formulaire{
	background-color: rgb(45,45,45);
	width: 100%;
	display: flex;
	padding: 10vh 0;
	justify-content: center;
	align-items: center;
}

.contenu img {
	height: 100px;
	width: 100px;
}

.contenu article {
	min-height: 80vh;
	width: 30%;
	display: flex;
	flex-direction: column;
	color: hsl(0, 0%, 100%);
	font-size: 20px;
}

.contenu p {
	width: 80%;
	color: inherit;
}

article.right {
	justify-content: flex-end;
	text-align: right;
	color: hsl(350, 100%, 88%);
}

article.right p {
	align-self: flex-end;
}

.curseur:hover{
	transform: rotate(450deg);
	transition: 3s;
}

form{
	background-color: rgb(238,241,255);
	box-shadow: 10px -10px 10px 1px rgba(0, 0, 0, 0.5);
	border-radius: 40px;
	display: flex;
	padding: 40px 80px;
	flex-direction: column;
	width: 400px;
	height: 600px;	
	justify-content: space-evenly;
}

form div{
	display: flex;
	justify-content: space-between;
	
}

form input,
form textarea{
	border: 0;
	border-radius: 20px;
	padding: 15px 15px ;
	color: black;
	resize: none;
}

form input::placeholder,
form textarea::placeholder{
	padding-left: 15px ;
}

form button{
	border: 0;
	background-color: black;
	color:white;
	padding: 10px 3px ;
	border-radius: 20px;
}