/***************Main***************/

main {
	padding: calc(var(--header) + 15vh) 10vw 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20vh;
	background: linear-gradient(to right, var(--blanc) 70%, hsl(247, 9%, 81%) 70%);
}

/***************Titre***************/

#section1 {
	position: relative;
	scroll-margin-top: calc(var(--header) + 15vh);
}

#section1 h1 {
	text-align: center;
	letter-spacing: 3px;
	font-size: 2.25em;
}

#section1 h2 {
	color : hsl(0, 0%, 50%);
	font-size: 1em;
}

#section1 h1 + h2 {
	text-align: right;
}

/***************Contenu***************/

#section2 {
	display: flex;
	align-items: center;
	gap: 6vw;
}

.image {
	max-width: 75ch;
	min-width: 30ch;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#section2 hr {
	background-color: hsl(347, 84%, 50%) ;
	border: 0;
	height: 5px;
	width: 100px;
	border-radius: 5px;
	margin-block-end: 2em;
}

/***************Mozaique***************/

.mozaique {
	height: 100%;
	width: 100%;
	min-width: 350px;
	max-width: 500px;
	display: grid;
	grid-template-areas: "image1 image2"
						 "image1 image3";
	place-items: center;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 1fr 1fr;
	gap: 10%;
}

.mozaique img {
	border-radius: 20px;
	box-shadow: hsla(240, 30%, 28%, 0.25) 0px 30px 60px -12px,
				hsla(0, 0%, 0%, 0.3) 0px 18px 36px -18px;
}

.mozaique img:nth-child(1) {
	grid-area: image1;
	width: 100%;
	display: flex;
	align-self: center;
}

.mozaique img:nth-child(2) {
	grid-area: image2;
	width: 100%;
}

.mozaique img:nth-child(3) {
	grid-area: image3;
	width: 70%;
}

/***************Maps***************/

.desc {
	width: 30%;
	max-width: 75ch;
	min-width: 30ch;
	letter-spacing: 1px;
}

.maps {
	display: flex;
	align-items: center;
	gap: 5vw;
}

.maps iframe {
	box-shadow: hsla(240, 30%, 28%, 0.25) 0px 30px 60px -12px,
				hsla(0, 0%, 0%, 0.3) 0px 18px 36px -18px;
	width: 100%;
	aspect-ratio: 16/9;
	border: 0;
	border-radius: 5px;
}