/***************Parallax***************/

#section1 {
	height: calc(100vh - var(--header));
	top: var(--header);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(../Images/new_york.jpg) center;
	background-size: cover;
	background-attachment: fixed;
	z-index: -1;
	font-family: 'Arvo', serif;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 3px -3px 11px hsla(0, 0%, 0%, 0.5);
}

/***************Texte du parallax***************/

#section1 h1 {
	color: var(--blanc);
	margin: 0;
	font-size: 4em;
	letter-spacing: 3px;
}

.rolling-txt {
	display: block;
	height: 20%;
	min-height: 50px;
	width: 100%;
	overflow: hidden;
}

.rolling-txt span {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	min-height: 50px;
	width: 100%;
	font-size: 3.5em;
	letter-spacing: 1px;
	color: var(--rouge);
	animation: rolling-txt 5s .8s infinite ease-in-out;
}

/***************La barre de séparation qui stick au header***************/

#section1 + hr {
	height: 1vh;
	width: 100vw;
	position: sticky;
	top: var(--header);
	bottom: 0;
	z-index: 1;
	background-color: var(--rouge);
	margin: 0;
	border: 0;
}

/***************Main***************/

main {
	display: flex;
	flex-direction: column;
	background-color: var(--blanc);
}

/***************Chaque section regroupe une partie image et une texte***************/

main section {
	padding: 7em 0;
	display: flex;
	justify-content: space-evenly;
	background-color: var(--blanc);
}

/***************La section du milieu a des couleurs inversées***************/

main #section3 {
	color: var(--blanc);
	background-color: hsl(228, 5%, 18%);
}

/***************Chaque partie à l'intérieur d'une section***************/

.image,
.article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
}

/***************Personnalisation de la partie texte de l'article***************/

.article {
	flex: 1 1 45%;
	padding: 0 5% 9%;
}

.article .titre {
	margin: 40px 0 0;
	font-size: 1.1em;
	font-weight: normal;
}

.article .texte {
	margin: 0;
	font-size: 1.3em;
	font-weight: bold;
}

.article .source {
	font-size: 0.9em;
}

/***************Personnalisation de la partie image de l'article***************/

.image {
	flex: 1 1 55%;
	padding: 0 5%;
	overflow-x: hidden;
}

.image .img-article {
	height: 80%;
	width: 100%;
	margin-bottom: 8%;
	border-radius: 20px;
}

.image .desc-photo {
	margin: 0;
	padding-bottom: 8%;
	font-size: 1.1em;
}

.image .lien {
	padding: 5px;
	display: flex;
	align-items: center;
	text-decoration: none;
	border: 1px solid var(--noir);
	border-radius: 3px;
	transition: all .35s ease;
	color: var(--noir);
}

.image .lien:hover {
	background-color: hsl(336, 4%, 78%);
}

.image .lien .arrow {
	height: 15px;
	width: 15px;
	padding-left: 5px;
}

/***************La partie image dans la section du milieu***************/

#section3 .image .lien {
	color: inherit;
	border-color: var(--blanc);
}

#section3 .image .lien:hover {
	background-color: hsl(0, 3%, 13%);
}

article img{
	box-shadow: hsla(240, 30%, 28%, 0.25) 0px 30px 60px -12px,
				hsla(0, 0%, 0%, 0.3) 0px 18px 36px -18px;
}

/***************Animation des photos***************/

.slide {
	opacity: 0;
	transition: transform 2s .4s cubic-bezier(0, 1, .3, 1), opacity 3s .4s;
}

.slide.left {
	transform: translateX(-100%);
}

.slide.right {
	transform: translateX(100%);
}

.slide.is-visible {
	opacity: 1;
	transform: translateX(0);
}

@keyframes rolling-txt {
	0% {
		transform: translateY(0);
	}

	16.7% {
		transform: translateY(0);
	}

	33.4% {
		transform: translateY(-100%);
	}

	50% {
		transform: translateY(-100%);
	}

	66.7% {
		transform: translateY(-200%);
	}

	83.4% {
		transform: translateY(-200%);
	}

	100% {
		transform: translateY(0);
	}
}