/***************Menu***************/

menu-custom {
	display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    width: 100vw;
	margin: 0;
	padding: 0;
    left: 0;
    top: 0;
    position: fixed;
    overflow: hidden;
    background: rgba(20, 22, 32, 0.9);
	transition: all 0.35s ease;
	z-index: 100;
}

/***************La liste qui contient les liens***************/

menu-custom ul {
    min-width: 22vw;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

/***************Chaque lien dans la liste***************/

menu-custom li a {
    display: block;
    color: var(--blanc);
    font-size: 1.7em;
    font-weight: bold;
    line-height: 4em;
    text-decoration: none;
	letter-spacing: 2px;
}

/***************Quand menu visible***************/

.menu-visible {
    overflow-y: hidden;
}

.menu-visible menu-custom {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(0.5em);
}

menu-custom li {
	opacity: 0;
	border: 0;
	transition: all .25s ease;
}

menu-custom li:nth-child(2) {
	transition-delay: .25s;
}

menu-custom li:nth-child(3) {
	transition-delay: .5s;
}

menu-custom li:nth-child(4) {
	transition-delay: .75s;
}

.menu-visible menu-custom li:nth-child(1) {
	animation: menu .25s ease;
	opacity: 1;
}

.menu-visible menu-custom li:nth-child(2) {
	animation: menu .25s .25s ease;
    border-top: 1px solid rgba(218, 216, 217, 0.5);
	opacity: 1;
}

.menu-visible menu-custom li:nth-child(3) {
	animation: menu .25s .5s ease;
    border-top: 1px solid rgba(218, 216, 217, 0.5);
	opacity: 1;
}

.menu-visible menu-custom li:nth-child(4) {
	animation: menu .25s .75s ease;
    border-top: 1px solid rgba(218, 216, 217, 0.5);
	opacity: 1;
}

@keyframes menu {
	0% {
	  transform: translateY(-100%);
	}
	100% {
	  transform: 0;
	}
}