/***************Menu***************/

menu-custom {
	display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    width: 100vw;
	margin: 0;
	padding: 0;
    left: 0;
    top: 0;
    position: fixed;
    overflow: hidden;
    background-color: hsla(230, 23%, 10%, 0.9);
	transition: all 0.35s ease;
	z-index: 100;
}

/***************La liste des liens***************/

menu-custom ul {
    min-width: 22vw;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

/***************Chaque lien dans la liste***************/

menu-custom li {
	opacity: 0;
	border: 0;
	transform: translateY(-100%);
	transition: all .2s ease-out;
}

menu-custom li a {
    display: block;
    text-decoration: none;
}

menu-custom li a:hover {
	transition: all .35s ease;
	background-color: hsla(330, 3%, 85%, 0.03);
}

menu-custom li:first-child a {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

menu-custom li:last-child a {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

menu-custom li a span {
    color: var(--blanc);
    font-size: 1.7em;
    font-weight: bold;
    line-height: 4em;
	letter-spacing: 2px;
}

/***************Spécifique au lien de la page actuelle***************/

.current span {
	color: var(--rouge);
}

/***************Quand menu visible***************/

.menu-open {
    overflow-y: hidden;
}

.menu-open menu-custom {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(20px);
}

/***************Animation d'ouverture en cascade***************/

.menu-open menu-custom li:nth-child(1) {
	transform: translateY(0);
	opacity: 1;
}

.menu-open menu-custom li:nth-child(2) {
	transform: translateY(0);
	transition-delay: .2s;
    border-top: 1px solid hsla(330, 3%, 85%, 0.5);
	opacity: 1;
}

.menu-open menu-custom li:nth-child(3) {
	transform: translateY(0);
	transition-delay: .4s;
    border-top: 1px solid hsla(330, 3%, 85%, 0.5);
	opacity: 1;
}

.menu-open menu-custom li:nth-child(4) {
	transform: translateY(0);
	transition-delay: .6s;
    border-top: 1px solid hsla(330, 3%, 85%, 0.5);
	opacity: 1;
}