nav-custom {
	position: fixed;
	left: 0;
	top: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translate(-90%, -50%);
	transition: all .45s ease;
	z-index: 99;
	background-color: hsl(228, 5%, 15%);
	border-radius: 0 10px 10px 0;
}

nav-custom:hover {
	color: var(--noir);
	box-shadow: 4px 0px 25px 10px hsla(0, 0%, 0%, 0.15);
	transform: translate(0, -50%);
	transition: transform .4s ease, color .7s ease;
}

nav-custom a {
	position: relative;
	padding: 28px 23px;
	color: transparent;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	transition: background-color .45s ease, color .35s ease;
}

nav-custom a:first-child {
	border-top-right-radius: inherit;
}

nav-custom a:last-child {
	border-bottom-right-radius: inherit;
}

nav-custom:hover a {
	color: var(--blanc);
}

nav-custom a::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 10%;
	border-radius: inherit;
	transition:	 width .4s linear, background-color .3s .1s ease;
	z-index: -1;
}

nav-custom .active::before {
	background-color: var(--rouge);
}

nav-custom:hover .active::before {
	width: 100%;
	transition: width .2s linear, background-color .2s ease, color .4s ease;
}