.content {
    overflow: hidden;
    width: 80%;
    margin: auto;
}

.gallery-item {
    float: left;
    width: 40%;
    height: 0;
    padding-bottom: 30%;
    /* display: inline-block; */
    position: relative;
    overflow: hidden;
}

.slider-container {
    overflow: hidden;
}

.slide-holder {
    width: 400%;
    position: relative;
    animation: scroller 10s infinite;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}

.slide-holder img {
    width: 25%;
    display: inline-block;
    max-width: 25%;
    margin-right: -4px;
}

/* need a step for each slide */

@keyframes scroller {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-25%);
    }
    40% {
        transform: translateX(-25%);
    }
    60% {
        transform: translateX(-50%);
    }
    70% {
        transform: translateX(-50%);
    }
    90% {
        transform: translateX(-75%);
    }
    100% {
        transform: translateX(-75%);
    }
}